/* css pour la barre menu fixe ou l'on change de section*/


body,
html {
    font-family: Arial, Helvetica, sans-serif;
}

.nav-barre-gauche {
    position: fixed;
    width: 7%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    left: 0%;
    top: 0%;
    background-color: #15151a;
}

.profil-users {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 15%;
}

.profil {
    width: 75%;
}

.bouton-part {
    margin-bottom: 200%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 30%;
}

.logo-message,
.logo-users,
.logo-rouage {
    width: 45%;
    display: flex;
    align-items: center;
    padding: 5% 30% 5% 30%;
    margin-top: 15%;
    background-color: transparent;
}

.logo-rockets {
    width: 60%;
    display: flex;
    align-items: center;
    margin-top: 30%;
    margin-left: -30%;
    padding: 10% 54% 10% 54%;
    background-color: transparent;
}

.logo-users:hover,
.logo-message:hover,
.logo-rouage:hover,
.logo-deconextion:hover,
.logo-message:active,
.logo-users:active,
.logo-rouage:active,
.logo-deconextion:active,
.logo-rockets:active,
.logo-rockets:hover {
    background-color: gray;
    transition-duration: 0.25s;
}

.deconextion {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10%;
}

.logo-deconextion {
    width: 35%;
    display: flex;
    align-items: center;
    padding: 10% 35% 10% 35%;
    background-color: transparent;
}