body,
html {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    padding: 0 auto;
    width: 100%;
    height: 100%;
    overflow-x: none;
    scroll-behavior: smooth;
}

nav {
    position: relative;
    top: 0%;
    width: 100%;
    height: 8%;
    align-items: center;
    background-color: transparent;
    z-index: 3;
}

a {
    text-decoration: none;
}

.nav-barre {
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 7.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0%;
}

.bouton-parti {
    display: flex;
    align-items: center;
    width: 30%;
    justify-content: space-around;
    font-size: 1.2vw;
    color: rgba(255, 255, 255, 0.877);
}

.logo-parti {
    width: 20%;
    display: flex;
    align-items: center;
}

.logo {
    width: 75%;
    margin-top: 15px;
}

.link {
    font-weight: 600;
    color: rgba(255, 255, 255, 0.884);
    padding: 0.5% 1%;
    transition: 0.5s;
    border-style: solid;
    border-color: transparent;
    border-width: 5px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 1.25vw;
}

.link:hover {
    border-color: rgb(255, 255, 255);
    color: #ffffffe1;
}

.link-blackcolor {
    color: rgba(29, 29, 29, 0.774);
}

.link-scroll {
    cursor: pointer;
    font-weight: 600;
    color: rgba(29, 29, 29, 0.774);
    padding: 0.5% 1%;
    transition: 0.5s;
    border-style: solid;
    border-color: transparent;
    border-width: 5px;
    border-radius: 25px;
    font-size: 1.25vw;
}

.link-scroll:hover {
    border-color: rgb(41, 41, 41);
    color: #252525e1;
}

.link-scroll-video {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.774);
    padding: 0.5% 1%;
    transition: 0.5s;
    border-style: solid;
    border-color: transparent;
    border-width: 5px;
    border-radius: 25px;
}

.link-scroll-video:hover {
    border-color: rgb(255, 255, 255);
    color: #ffffffe1;
}

.boutton-barre:hover {
    border: 5px solid rgba(207, 203, 203, 0.473);
}

.home-gauche {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 55%;
    padding-left: 2.5%;
}

.fleche {
    position: absolute;
    bottom: 3%;
    height: 7%;
    width: auto;
    left: 40%;
    padding: 0.5%;
    opacity: 0.75;
    transition: 0.5s;
}

.fleche:hover {
    opacity: 1;
    transform: scale(1.1);
}

.texte-centre {
    height: 40%;
    width: 100%;
    margin-top: 10%;
}

.garder_contact {
    font-size: 5vw;
    margin-bottom: 1%;
}

.rejoignez {
    font-size: 2vw;
    margin-left: 1%;
}

.boutton-centre {
    display: flex;
    align-items: center;
    width: 100%;
    height: 20%;
    justify-content: space-around;
    color: white;
}

.boutton-centre1 {
    width: 40%;
    background: linear-gradient(93.37deg, #CC5136 0%, #FF9C55 100%);
    border-radius: 62px;
    font-size: 1.7vw;
    text-align: center;
    padding: 0.7% 2.2%;
    transition: 0.5s;
    cursor: pointer;
    color: white;
}

.boutton-centre2-link,
.link-color {
    color: white;
}

.boutton-centre2 {
    width: 40%;
    background: linear-gradient(93.28deg, #051C56 -2.49%, #004FC5 100%);
    border-radius: 62px;
    font-size: 1.7vw;
    text-align: center;
    padding: 0.7% 2.2%;
    transition: 0.5s;
}

.boutton-centre1:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.boutton-centre1:focus {
    transform: scale(1);
}

.boutton-centre2:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.boutton-centre2:focus {
    transform: scale(1);
}

.forme-box {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 40%;
    height: 100vh;
    background-image: url('../image/forme-bleu.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.point-rouge1 {
    position: absolute;
    width: 14%;
    height: 27%;
    border-radius: 57% 59% 57% 59%;
    background: linear-gradient(153.05deg, rgba(255, 61, 0, 0.03) 11.29%, rgba(255, 61, 0, 0.03) 40.14%);
    z-index: 2;
    margin-left: 78%;
    top: 30%;
}

.point-rouge2 {
    position: absolute;
    width: 14%;
    height: 27%;
    border-radius: 57% 59% 57% 59%;
    background: linear-gradient(153.05deg, #FF3D00 11.29%, rgba(255, 61, 0, 0) 79.27%);
    z-index: 3;
    margin-left: 77%;
    top: 28%;
}

.point-rouge3 {
    position: absolute;
    width: 14%;
    height: 27%;
    border-radius: 57% 59% 57% 59%;
    background: linear-gradient(0deg, rgba(255, 61, 0, 0.13), rgba(255, 61, 0, 0.13));
    z-index: 4;
    margin-left: 76%;
    top: 31%;
}

.point-rouge4 {
    position: absolute;
    width: 14%;
    height: 27%;
    border-radius: 57% 59% 57% 59%;
    background: linear-gradient(0deg, rgba(255, 61, 0, 0.13), rgba(255, 61, 0, 0.13));
    z-index: 4;
    margin-left: 76%;
    top: 29%;
}

.home {
    height: 100vh;
}


/*Page 2 */

.top {
    width: 100%;
    margin-bottom: -4px;
}

.bottom {
    width: 100%;
}

.page2 {
    width: 100%;
    height: 80vh;
    margin: 0px;
    padding: 0px;
    margin-bottom: 5%;
}

.contenupage2 {
    width: 100%;
    height: 100%;
    background-color: hsla(225, 8%, 42%, 0.09);
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.imagepage2 {
    width: 40%;
}

.textepage2 {
    width: 40%;
}

.image1page2 {
    width: 100%;
}

h4 {
    font-size: 3vw;
}

.texte1page2 {
    font-size: 2vw;
    line-height: 130%;
}


/*Page 3 */

.page3 {
    width: 100%;
    height: 100vh;
    margin: 0px;
}

.contenupage3 {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.textepage3 {
    width: 40%;
}

.titrepage3 {
    margin-left: 10%;
}

.texte1page3 {
    font-size: 2vw;
    line-height: 130%;
    margin-left: 10%;
}

.imagepage3 {
    height: auto;
    width: 50%;
}

.image1page3 {
    width: 100%;
}


/*Page 4 */

.page4 {
    width: 100%;
    height: 90vh;
    margin: 0px;
    padding: 0px;
}

.contenupage4 {
    width: 100%;
    height: 100%;
    background-color: rgba(98, 102, 114, 0.09);
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.imagepage4 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 80%;
}

.image1page4 {
    height: auto;
    width: 50%;
}

.classementpage4 {
    color: white;
    width: 50%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.textepage4 {
    width: 50%;
}

.Alexandre,
.Delphine,
.Paul,
.Louis {
    left: 4%;
    margin-bottom: 1.5%;
    background: #1C1D2F;
    border-radius: 1vw;
    width: 100%;
    height: 17.5%;
    padding: 0.1% 1.7% 0.1% 1%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.4s;
    transition-timing-function: ease-in;
    color: white;
}

.part1 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 50%;
}

.part2 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    width: 50%;
}

.image-alexandre,
.image-Delphine,
.image-Paul,
.image-Louis {
    width: 23%;
    height: auto;
    margin-right: 5%;
}

.image-rocket {
    width: 15%;
    margin-left: 15%;
    height: auto;
}

.Alexandre:hover,
.Delphine:hover,
.Paul:hover,
.Louis:hover {
    transform: translateX(10%);
}

.elem:hover {
    transform: translateX(10%);
}

.texte1page4 {
    font-size: 1.5vw;
    line-height: 130%;
}


/*Page 5*/

.page5 {
    background-color: rgba(98, 102, 114, 0.09);
    width: 100%;
    height: 150vh;
    margin: 0px;
    margin-top: 5.69%;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.25s;
}

.video {
    width: 616px;
    height: 346.5px;
    border-radius: 1vw;
    transition: 0.5s;
}


/*Page 6 */

.page6 {
    width: 100%;
    height: 80vh;
    margin: 0px;
    padding: 0px;
}

.contenupage6 {
    width: 100%;
    height: 100%;
    background-color: white;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.textep6 {
    font-size: 3vh;
}


/*Page 7 */

.page7 {
    width: 100%;
    height: 100vh;
    margin: 0px;
    padding: 0px;
}

.contenupage7 {
    width: 100%;
    height: 100%;
    background-color: hsla(225, 8%, 42%, 0.09);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.personne-superviser {
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 55%;
}

.lucas {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 35%;
}

.matthieu {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 35%;
}

.image-lucas {
    width: 50%;
    height: auto;
    border-radius: 50%;
}

.image-matthieu {
    width: 50%;
    height: auto;
    border-radius: 50%;
}

.menu__link {
    color: black;
    border: black 2px solid;
    padding: 2.5%;
    width: 50%;
    text-align: center;
    border-radius: 5vw;
    transition: 0.5s;
    margin-top: 5%;
}

.menu__link:hover {
    background-color: #1b1f2b;
    color: white;
}

.titre-superviser {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 25%;
}

.superviser {
    background: #1C1D2F;
    border-radius: 15px;
    width: 25%;
    height: 25%;
    padding: 0.1% 0.1% 0.1% 0.1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.4s;
    color: white;
}

.image-superviser {
    height: 65%;
    transition: 0.5s;
}

.superviser:hover .image-superviser {
    transform: rotate(90deg);
}

.superviser:hover {
    cursor: pointer;
}

.textesuperviser {
    margin-left: 5%;
}


/*Page 8 */

.page8 {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.contenupage8 {
    display: flex;
    justify-content: space-around;
    background-color: hsla(225, 8%, 42%, 0.09);
}

.imagecv-lucas {
    width: 50%;
    height: auto;
    border-radius: 50%;
}

.colonegauchecv1 {
    background-color: #141824;
    height: 100vh;
    width: 40%;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5%;
    border-radius: 0px 50px 50px 0px;
}

.colonedroitecv1 {
    width: 60%;
    padding-left: 3.75%;
    padding-right: 3.75%;
}

.textegauchecv1 {
    font-size: 1vw;
    line-height: 150%;
    margin-top: 10%;
    color: white;
}

.titrecv1 {
    font-size: 2vw;
    margin-top: 7%;
}

.textedroitecv1 {
    font-size: 1.1vw;
    margin-left: 3%;
}

.competences-cv1 {
    display: flex;
    justify-content: space-around;
}


/*Page 9 */

.page9 {
    margin-top: 5%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.contenupage9 {
    display: flex;
    justify-content: space-around;
    background-color: hsla(225, 8%, 42%, 0.09);
}

.imagecv-matthieu {
    width: 50%;
    height: auto;
    border-radius: 50%;
}

.textedroitecv2 {
    font-size: 1.5vw;
    line-height: 150%;
    margin-top: 10%;
}

.colonededroitecv2 {
    height: 100vh;
    width: 40%;
    position: sticky;
    top: 0;
    background-color: #141824;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5%;
    border-radius: 50px 0px 0px 0px;
}

.colonedegauchecv2 {
    width: 60%;
    padding-left: 3.75%;
    padding-right: 3.75%;
}

.titrecv2 {
    font-size: 2vw;
    margin-top: 7%;
}

.textegauchecv2 {
    font-size: 1.1vw;
    margin-left: 3%;
}

.textedroitecv2 {
    font-size: 1vw;
    line-height: 150%;
    margin-top: 10%;
    color: white;
}

.competences-cv2 {
    display: flex;
    justify-content: space-around;
}

.page-attendre {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-attendre {
    margin-top: 5%;
    font-size: 22px;
}

footer {
    width: 100%;
    height: 35vh;
    margin: 0px;
    padding: 0px;
    background: #0B225F;
}

.contenufooter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
    color: white;
}

.footergauche {
    margin-top: 3%;
    font-size: 1vw;
}

.logo-footer {
    display: flex;
    align-items: center;
}

.logo-resaux {
    width: 2%;
    position: absolute;
    left: 15%;
}

.footerdroite {
    font-size: 1vw;
}

.logoIchat-footer {
    width: 10%;
    position: absolute;
    margin-top: -3.5%;
}